<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionBD.Properties.Settings.pruebas_dpConnectionString"
            connectionString="Data Source=DESKTOP-SKOK0E6;Initial Catalog=pruebas_dp;User ID=sa;Password=Oliver1295."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>